@import "tailwindcss";

/* Enable dark mode using .dark class */
@custom-variant dark (&:where(.dark, .dark *));

@keyframes subtleGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.arch-gradient {
  background-size: 200% 200%;
  animation: subtleGradientMove 18s ease infinite;
}