---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

<h1>Contact</h1>

<p>
GitHub: https://github.com/youruser

LinkedIn: https://linkedin.com/in/yourprofile
</p>

</BaseLayout>