---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import BackLink from "../components/BackLink.astro";

import { getLangFromUrl } from "../i18n/getLang";
import { getTranslations } from "../i18n";

const lang = getLangFromUrl(Astro.url);
const t = getTranslations(lang);

const experiences = t.experience.experiences;
---

<BaseLayout>

<section>

<BackLink href="/" label={t.experience.back} />

<header class="mb-16 max-w-2xl">

<h1 class="text-3xl md:text-4xl font-bold mb-4">
  {t.experience.header.title}
</h1>

<p class="text-gray-600 dark:text-gray-400">
  {t.experience.header.description}
</p>

</header>

<div class="grid grid-cols-1 md:grid-cols-3 gap-8">

  {experiences.map((exp) => (

    <div class={exp.size === "large" ? "md:col-span-2" : "md:col-span-1"}>
      <ExperienceCard experience={exp} />
    </div>

  ))}

</div>

</section>

</BaseLayout>