---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

<h1>Projects</h1>

<p>
Architecture Comparison Lab ? Experiment comparing multiple backend
architectures as domain complexity evolves.
</p>

</BaseLayout>