---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BackLink from "../components/BackLink.astro";

import { getLangFromUrl } from "../i18n/getLang";
import { getTranslations } from "../i18n";

const lang = getLangFromUrl(Astro.url);
const t = getTranslations(lang);

const projects = [
  {
    slug: "architecture-comparison",
    date: "2026",
    tech: ["PHP", "Laravel", "Architecture"],
    github: "https://github.com/MMoza/reservations",
    status: "in_progress",
    image: "/architecture-comparison.webp"
  },
  {
    slug: "api-benchmark",
    date: "2026",
    tech: ["PHP", "Symfony", "Laravel", "REST", "API"],
    github: "https://github.com/MMoza/api-benchmark",
    status: "upcoming",
    image: "/api-benchmark.webp"
  },
  {
    slug: "patterns-playground",
    date: "2026",
    tech: ["PHP", "Design Patterns"],
    github: "https://github.com/MMoza/design-patterns",
    status: "upcoming",
    image: "/patterns-playground.webp"
  },
  {
    slug: "randomuser-technical-test",
    date: "2023",
    tech: ["PHP", "Ajax", "JQuery"],
    github: "https://github.com/MMoza/pruebaAjax",
    status: "finished",
    image: "/randomuser-technical-test.webp"
  }
];
---

<BaseLayout>

<section class="max-w-5xl mx-auto">

<BackLink href="/" label={t.projects.back} />

  <header class="mb-16">

    <h1 class="text-3xl md:text-4xl font-bold mb-4">
      {t.projects.title}
    </h1>

    <p class="text-gray-600 dark:text-gray-400 max-w-2xl">
      {t.projects.description}
    </p>

  </header>


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

{projects.map((project) => {

  const translation = t.projects.items[project.slug];

  return (
    <ProjectCard
      project={{
        ...project,
        title: translation.title,
        description: translation.description
      }}
    />
  );

})}

</div>

</section>

</BaseLayout>