<div hidden></div>

<script>
  if (typeof window !== "undefined") {
    const pathname = window.location.pathname;

    let savedLang = localStorage.getItem("lang");

    if (!savedLang) {
      const browserLang = navigator.languages?.[0] || navigator.language;

      if (browserLang.startsWith("es")) {
        savedLang = "es";
      } else {
        savedLang = "en";
      }

      localStorage.setItem("lang", savedLang);
    }

    const isSpanishPath = pathname.startsWith("/es");

    if (savedLang === "es" && !isSpanishPath && pathname !== "/") {
      window.location.replace("/es" + pathname);
    }

    if (savedLang === "en" && isSpanishPath) {
      window.location.replace(pathname.replace(/^\/es/, "") || "/");
    }
  }
</script>
